:root {
  --green: #55ca9d;
  --dark-green: #537b6f;
  --black: #3C3633;
  --white: #EEEDEB;
  --fontsize-p: 1.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: all 20s ease-in;
}

a {
  text-decoration: none;
  color: unset;
}

* {
  box-sizing: border-box;
}

a,
p,
span,
ul,
h1,
h2,
h3,
h4 {
  color: var(--black);
  font-family: "Reddit Mono", monospace, "Noto Sans TC", sans-serif;
  font-weight: 300;
  line-height: 1.25;
}

/* -------------------- */
/* BACKGROUND ANIMATION */

.bg-gradient {
  width: 100%;
  height: 100%;
  filter: blur(120px);
  background-image: linear-gradient(to left top, #adadad, #bcbcbc, #cbcbcb, #dadada, #eaeaea, #ecedf1, #ecf1f9, #e9f6ff, #c8f4ff, #a0f2ff, #75f1f2, #50eed9);
  animation: rotate 10s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.green {
  color: var(--green);
}

.bold {
  font-weight: bold;
}

#mainVisual {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#mainVisual .container {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.greeting {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 20s cubic-bezier(0, 0.65, 0.97, 0.81);
}

.greeting [role="button"] {
  border: 3px solid var(--black);
  padding: 30px 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-top: 40px;
  font-size: 1.3rem;
}

.greeting [role="button"]:hover {
  border: 3px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, transparent, transparent), linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
  color: #EEEDEB;
  font-weight: bold;
}

[role="button"]:hover,
a:hover,
a i:hover {
  transition: all 0.3s ease-in;
}

.greeting p {
  text-align: center;
  font-size: 2.8rem;
  line-height: 4.2rem;
  letter-spacing: 2px;
}

.greeting i {
  font-size: 30px;
  vertical-align: top;
}

.fa-right-long {
  font-size: 22px !important;
}

.greeting [role="button"]:hover .fa-right-long {
  position: relative;
  left: 2px;
  transform: rotateZ(90deg);
  color: #EEEDEB;
  transition: all 0.2s cubic-bezier(0, 0.65, 0.97, 0.81);
}

header {
  width: 100%;
  position: absolute;
  top: 911px;
  height: 80px;
  display: flex;
}

nav {
  position: sticky;
  top: 0;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #ffffff;
  z-index: 10;
  box-shadow: 0 0 10px #55ca9d30;
}

.gnav-bar {
  display: none;
}

.gnav {
  display: flex;
}

.gnav a {
  font-size: 1.6rem;
}

.gnav a:hover {
  color: var(--green);
}

.gnav li {
  padding: 0 30px;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 95px auto 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

h2.title_h2 {
  font-size: 3rem;
  font-family: "Kanit", sans-serif;
  margin: 20px auto;
}

h3.title_h3 {
  font-size: 2rem;
  font-family: "Kanit", sans-serif;
  margin: 0 auto 20px;
}

.title-underline {
  background-color: var(--black);
  width: 4%;
  height: 4px;
  margin: auto;
}

.personality {
  width: 100%;
}

section#about,
section#experience,
section#portfolio,
section#contact {
  top: -10px;
  padding-top: 10px;
  overflow: hidden;
}

.personality ul {
  display: flex;
  flex-wrap: wrap;
}

.personality li {
  display: flex;
  flex-direction: column;
  width: calc(100% / 4);
}

.icon {
  background-color: var(--green);
  width: 100px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

.icon i {
  font-size: 3rem;
  color: #ffffff;
}

.title_h4 {
  font-weight: bold;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin: 20px 0;
}

.desc {
  padding: 0 24px;
}

.personality p {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.4rem;
  text-align: justify;
}

.aboutMe {
  display: flex;
  margin-top: 100px;
}

.me {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.aboutMe .pic {
  width: 75%;
  padding: 0 20px;
}

.aboutMe img {
  width: 100%;
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

.me .detail {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.me .detail p {
  width: 74%;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
  font-family: "Noto Sans TC", sans-serif;
}

.me .detail a {
  font-family: "Noto Sans TC", sans-serif;
}



.title_h3 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 20px;
  font-family: "Noto Sans TC", sans-serif;
}

.bar-chart {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-chart ul {
  width: 75%;
}

.bar-chart li {
  margin-bottom: 20px;
  height: 30px;
  width: 100%;
}

.bar {
  position: relative;
  width: 100%;
  color: #EEEDEB;
  height: 100%;
}

.color-bar {
  position: absolute;
  background-color: var(--dark-green);
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-radius: 9px 0 0 9px;
  overflow: hidden;
}

.containerForBar {
  background-color: #d4dfdf;
  height: 100%;
  border-radius: 9px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  color: var(--dark-green);
  font-weight: 400;
}

#experience .container {
  width: 96%;
}

#experience .title {
  margin-bottom: 80px;
}

.workexp {
  width: 100%;
  display: flex;
  justify-content: center;
}

.workexp ul {
  width: 80%
}

.workexp li {
  border-bottom: 1px solid var(--black);
  position: relative;
  height: 33px;
  overflow: hidden;
}

.workexp li:first-child {
  border-top: 1px solid var(--black);
}

.workexp .expList:hover {
  background-color: var(--black);
}

.workexp .expList:hover span {
  color: var(--white);
}

.workexp .expList:hover span.date,
.workexp .other:hover .company {
  color: #d4dfdf;
}

.workexp .expList {
  width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* transition: all 0.5s ease; */
  border-bottom: 1px dashed #C3C3C3;
}

.workexp .expList.others {
  height: 34px;
}

.expDetail .content {
  border-bottom: 1px dashed #C3C3C3;
  padding: 7px 0;
}

.expDetail .content:last-child {
  border: unset;
}

.workexp .date {
  font-size: 1.2rem;
  width: 30%;
  font-weight: 400;
  color: var(--dark-green);
}

.workexp .others .company {
  color: var(--dark-green);
}

#accordion {
  position: relative;
}

.workexp .company {
  position: relative;
  font-size: 1.2rem;
  width: 60%;
  font-weight: 400;
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  align-items: center;
}

#experience .tag {
  font-size: 0.8rem;
  background-color: #d4dfdf;
  color: var(--black);
  padding: 4px 10px;
  margin-left: 12px;
  display: flex;
  width: 40px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

.expDetail {
  padding: 10px 20px;
  position: relative;
  transition: all 0.5s ease 2s;
}

.expDetail span,
.expDetail ul li {
  font-size: 0.9rem;
  width: 90%;
  line-height: 1.5rem;
  transition: all 0.5s ease 2s;
  font-family: "Noto Sans TC", sans-serif;
}

ul.workDesc {
  width: unset;
}

.workDesc li::before {
  content: '・';

}

.workDesc li,
.workDesc li:first-child {
  border: none;
  height: fit-content;
  text-indent: -15px;
  padding-left: 19px;
  width: 100%;
}

.expDetail h3 {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Noto Sans TC", sans-serif;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.expList:hover {
  cursor: pointer;
}

#accordion .active {
  height: fit-content;
  transition: all 0.5s ease 2s;
}

#accordion .expList::before {
  content: '+';
  color: black;
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 30px;
  transform: translateY(-50%);
}

#accordion .active .expList::before {
  content: '-';
  font-size: 30px;
  color: var(--white);
}


img {
  width: 100%;
}


/* CONTACT */
#contact {
  background-color: #333a38;
  height: 670px;
}

#contact .container {
  margin: 95px auto 0;
}

#contact .title {
  margin-bottom: 20px;
}

#contact .title_h2 {
  color: var(--white);
}

#contact .title-underline {
  background-color: var(--white);
  /* margin-bottom: 20px; */
}

.contactMe {
  width: 100%;
}

form {
  margin: auto;
  width: 100%;
  max-width: 558px;
  /* background-color: #3C3633; */
  /* padding: 20px; */
}

.fieldset {
  /* background-color: #EEEDEB; */
  padding: 1.8rem;
  border-top-left-radius: 20px;
  margin: 0;
}

.fieldset h2 {
  margin-bottom: 40px;
  text-align: center;
  color: var(--green);
}

table {
  width: 100%;
}

input[type="text"],
input[type="email"] {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 44px;
  margin-bottom: 8px;
  border: none;
  padding: 10px;
  border-radius: 3px;
  color: var(--white);
  background-color: var(--black);
  font-size: 1.1rem;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: unset;
}

textarea {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 140px;
  margin-bottom: 8px;
  border: none;
  padding: 10px;
  border-radius: 3px;
  color: var(--white);
  background-color: var(--black);
  font-size: 1.1rem;
  font-family: "Kanit", "Noto Sans TC", sans-serif;
  font-weight: unset;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 1px 1px 4px #00000070 inset,
    -1px -1px 4px #ffffff20 inset;
}

input::placeholder,
::-ms-input-placeholder {
  color: #50eed9 !important;
}

.signIn {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.submit .button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}


input[type="submit"] {
  background-color: unset;
  border: 2px solid var(--white);
  width: 127px;
  height: 44px;
  border-radius: 3px;
  padding: 10px;
  margin-left: 2px;
  position: relative;
  color: var(--white);
}

input[type="submit"]:hover {
  background-image: linear-gradient(to right, transparent, transparent), linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
  color: #EEEDEB;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease-in;
}

.signIn p {
  color: #888888;
  font-size: 15px;
  margin-bottom: 4px;
}

.project {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(2, 300px);
  margin: 0 auto;
  place-content: center;
}

.proj_pic {
  margin: 15px;
}

.proj_pic img {
  border: 1px solid #3C3633;
}

.largePic {
  grid-area: 1 / 3 / 3 / 5;
}

.card {
  overflow: hidden;
  position: relative;
}

.side_front {
  position: relative;
  border: 1px solid #3C3633;
}

.side_front img {
  width: 100%;
  /* height: auto;
  display: block;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); */
}

#portfolio {
  background: #f7fafa;
}
#portfolio .pic img {
  height: 800px;
  object-fit: cover;
}

#portfolio .container {
  width: 100%;
}

.side {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s;
}

.side_back {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EEEDEB;
  font-weight: bold;
  background-color: #3C3633;
  transform: rotateY(180deg);
  flex-direction: column;
}

.card h4 {
  color: var(--white);
}

.card .button {
  border: 1px solid var(--green);
  background-color: unset;
  color: var(--green);
  padding: 10px 20px;
  margin-top: 50px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.3s ease, transform 0.6s ease;
}

.card .button:hover {
  background-color: var(--green);
  color: var(--white);
}

.card .side {
  transition: transform 0.6s ease;
  transition-delay: 0.3s;
}

.card .side_back {
  transition: transform 1s ease;
  transition-delay: 0.3s;
}

.card:hover .side {
  transform: rotateY(180deg);
}

.card:hover .side_back {
  transform: rotateY(0deg);
}

.side_back h4 {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 0.3s ease, transform 0.6s ease;
}

.card:hover .side_back h4 {
  transition-delay: 0.6s;
  opacity: 1;
  transform: translateY(0);
}

.card:hover .button {
  transition-delay: 0.6s;
  opacity: 1;
  transform: translateY(0);
}

footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  background-color: var(--black);
  position: relative;
  align-items: center;
}

.toTop {
  position: absolute;
  top: -29px;
}

footer .fa-circle-up {
  font-size: 4rem;
  color: var(--green);
  background-color: var(--black);
}

footer .fa-circle-up:hover {
  opacity: 0.8;
}

.copyright {
  color: #787878;
  letter-spacing: 2px;
}

.forSP {
  display: none;
}

.text-link i {
  transition: 0.3s;
  margin: 0 10px 0 2px;
  scale: 0.8;
}

.text-link:hover i {
  transform: translateX(2px);
  scale: 0.9;
}

.modal {
  padding: 40px;
}


/* 從這裡開始為TB */
@media screen and (max-width: 820px) and (min-width: 768px) {
  #about .container {
    margin: 95px auto 40px;
  }

  .personality li {
    width: calc(100% / 2);
  }

  .aboutMe {
    margin-top: 40px;
    flex-direction: column;
  }

  .me {
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%;
  }

  .bar-chart {
    width: 100%;
  }

  .project {
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
  }
}



/* 從這裡開始是為SP */
@media screen and (max-width: 768px) {
  .container {
    width: 90%
  }

  .forSP {
    display: block;
  }

  .greeting p {
    font-size: 1.5rem;
    line-height: 3.2rem;
    letter-spacing: 1px;
  }

  .fa-quote-right {
    vertical-align: bottom !important;
  }

  .greeting [role="button"] {
    width: 80%;
  }

  .gnavBarArea {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #55ca9d30;
    z-index: 1000;
  }

  #gnavBar {
    cursor: pointer;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  #gnavBar span {
    display: flex;
    width: 24px;
    height: 2px;
    background-color: #C3C3C3;
  }

  nav {
    /* position: fixed; */
    top: 50px;
    height: calc(100vh - 50px);
    align-items: flex-start;
    background-color: #ffffffeb;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.3s ease-in;
  }

  nav.active {
    display: flex !important;
  }

  .gnav {
    flex-wrap: wrap;
    /* justify-content: center; */
    margin-top: 60px;
    transition: all 0.3s ease-in;
  }

  .gnav li {
    padding: 0 20px;
    width: 100%;
  }

  .gnav a {
    line-height: 56px;
    font-weight: 900;
    font-size: 2.6rem;
  }

  #nav ul.socialmedia {
    margin-top: 65px;
    padding-left: 20px;
  }

  #nav ul.socialmedia li {
    margin-bottom: 8px;
  }

  #nav ul.socialmedia a {
    font-size: 1.4rem;
  }

  .title-underline {
    width: 14%;
  }

  .container {
    margin: 45px auto 50px;
  }

  .title_h4 {
    font-size: 1rem;
    margin: 16px;
  }

  .desc {
    padding: 0 12px;
    line-height: 1.2rem;
  }

  .personality li:nth-child(2n+3),
  .personality li:nth-child(2n+4) {
    margin-top: 10px;
  }

  .personality p {
    height: 120px;
  }

  .personality li {
    width: calc(100% / 2);
  }

  .aboutMe {
    flex-wrap: wrap;
  }

  .aboutMe .pic {
    padding: 0 29px;
  }

  .me {
    width: 100%;
  }

  .me .detail {
    /* padding-top: 0; */
  }

  .me .detail p {
    width: 100%;
  }

  .bar-chart {
    width: 100%;
  }

  .bar-chart ul {
    width: 85%;
    margin-top: 10px;
  }

  #experience .title {
    margin-bottom: 60px;
  }

  .workexp ul {
    width: 100%;
  }

  .workexp li {
    height: 50px;
  }

  .workexp .expList {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 5px;
  }

  .workexp .expList.others {
    height: 50px;
  }

  .workexp .date {
    width: 100%;
    font-size: 1rem;
  }

  .workexp .company,
  .expDetail {
    width: 100%;
    padding-top: 5px;
  }

  .workexp .others .company {
    color: var(--black);
  }

  #portfolio {
    width: 100%;
  }

  #portfolio .container {
    width: 100%;
  }

  #portfolio .title {
    margin-bottom: 40px;
  }

  .project {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 50vw);
    width: 100%;
  }

  .largePic {
    grid-area: 3 / 1 / 5 / 3;
  }

  #contact .container {
    margin: 45px auto 0;
  }

  footer {
    height: 150px;
  }

  footer .fa-circle-up {
    font-size: 3rem
  }

}